@import './styles/_variables.scss';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $blinker;
  transition: all 0.3s ease;
  scroll-behavior: smooth;
  color: $white;
}
body{
  background-color: #1F2537;
  background-image: url('noise.png');
}
a{
  color: $white;
  text-decoration: none;
}