@use "./styles/_variables.scss" as vars;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: vars.$blinker;
  transition: all 0.3s ease;
  scroll-behavior: smooth;
  color: vars.$white;
}
body {
  background-color: #1f2537;
  background-image: url("noise.png");
  filter: blur(0.8px);
}
a {
  color: vars.$white;
  text-decoration: none;
}
.home-about{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 600px) {
  .home-about {
    flex-direction: column-reverse;
  }
  
}